* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #006437;
}

main {
  min-height: 80vh;
}
.navbar {
  background-image: linear-gradient(to right, #006437, #fff);
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #006437;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #006437;
  font-weight: 700;
  text-decoration: underline;
}
.card-body {
  font-size: 13px;
}

.btn-light {
  background-color: #006437;
  color: #fff;
}
.btn-light:hover {
  background-color: #006437;
  color: #fff;
}
